.SearchBar {
  position: relative;
  margin-bottom: 20px;
}

.SearchBar input {
  background: #ffffff;
  border: 1px solid var(--secondary-color);
  box-sizing: border-box;
  border-radius: 4px;
  color: var(--text-color);
  padding: 10px 10px 10px 40px;
  width: 100%;
  font-family: "Poppins", sans-serif;
}

.SearchBar input:focus {
  outline: none;
  border-color: var(--primary-color);
  box-shadow: 0 0 0 0.2rem rgba(166, 13, 13, 0.25);
}

.SearchIcon {
  position: absolute;
  font-size: 1.2rem;
  padding: 9px;
  padding-left: 15px;
  color: var(--border-color);
}

.SearchIcon:hover {
  cursor: default;
  color: var(--primary-color);
  transition: color ease-in-out 0.3s;
}

.PostsContainer {
  background-color: var(--background-color);
  border-radius: 4px;
  padding: 20px;
}

@media screen and (max-width: 991px) {
  .PostsContainer {
    padding: 10px;
  }
}