.App {
    font-family: "Poppins", sans-serif;
    background-color: #fffcec;
    min-height: 100vh;
}

.Input {
  background: #ffffff;
  border: 1px solid #D69723;
  box-sizing: border-box;
  border-radius: 4px;
  color: #3f3f3f;
  text-align: left;
  padding: 10px;
  margin-bottom: 15px;
}

  * {
    box-sizing: border-box;
  }
  
  a {
    color: #555555;
    transition: color ease-in-out 0.3s;
  }
  
  a:hover {
    text-decoration: none;
    color: #a60d0d;
  }
  
  a:hover i {
    color: #a60d0d;
    transition: color ease-in-out 0.3s;
  }
  
  i {
    color: #cfced3;
    font-size: 1.6rem;
    padding: 7px;
    vertical-align: middle;
  }
  
  i:hover {
    cursor: pointer;
    transition: color ease-in-out 0.3s;
    color: #a60d0d;
  }

  